export AGENTSEA_AUTH_URL=https://auth.hub.agentlabs.xyz
export AGENTSEA_HUB_API_URL=https://api.hub.agentlabs.xyz
export NEBULOUS_SERVER=https://nebulous.api.agentlabs.xyz
export ORIGN_SERVER=https://orign.api.agentlabs.xyz
export AGENTSEA_API_KEY=k.6506bf2708f44e8d3210cb0521584b42fba167b82b2f4a86
